DB_URL=jdbc:mysql://localhost:3307/interview_record?serverTimezone=UTC
DB_USERNAME=interview_record
DB_PASSWORD=local-dev-password
TEST_DB_URL=jdbc:mysql://localhost:3306/interview_record_test?serverTimezone=UTC
TEST_DB_USERNAME=interview_record_test
TEST_DB_PASSWORD=local-test-password
MAIL_HOST=localhost
MAIL_PORT=1025
APP_BASE_URL=http://localhost:5173
